.custom-navbar {
    background: #FFFFFF;
    padding: 18px 0;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 800;
    text-decoration: none;
}

.brand-job {
    color: #1F2937;
}

.brand-sphere {
    color: #F97316;
}

.nav-link {
    color: #1F2937 !important;
    font-weight: 500;
    margin-left: 20px;
    transition: 0.3s;
}

.nav-link:hover {
    color: #F97316 !important;
}

.active-link {
    color: #F97316 !important;
}

.recruiter-btn {
    background-color: #1F2937;
    color: white !important;
    border-radius: 14px;
    padding: 12px 24px;
    font-weight: 600;
    border: none;
    transition: 0.3s;
}

.recruiter-btn:hover {
    background-color: #111827;
    transform: translateY(-2px);
}

.nav-item.active-link .nav-link {
    color: #F97316 !important;
}

.seeker-btn {
    background-color: #F97316;
    color: white !important;
    border-radius: 14px;
    padding: 12px 24px;
    font-weight: 600;
    border: none;
    transition: 0.3s;
}

.seeker-btn:hover {
    background-color: #EA580C;
    transform: translateY(-2px);
}

@media (max-width: 991px) {
    .navbar-nav {
        margin-top: 20px;
    }

    .recruiter-btn,
    .seeker-btn {
        width: 100%;
        margin-top: 10px;
    }
}