.job-card {
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,.08);
    transition: .3s;
    height: 100%;
}

.job-card:hover {
    transform: translateY(-5px);
}

.job-card h5 {
    font-weight: 700;
    margin-bottom: 10px;
}

.job-card {
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,.08);
    transition: .3s;
    height: 100%;
}

.job-card:hover {
    transform: translateY(-5px);
}

.job-card h5 {
    font-weight: 700;
    margin-bottom: 10px;
}

.job-card h6 {
    color: #666;
    margin-bottom: 20px;
}

.apply-btn {
    width: 100%;
    border: none;
    padding: 12px;
    border-radius: 10px;
    background: #F97316;
    color: white;
    font-weight: 600;
}

.job-card h6 {
    color: #666;
    margin-bottom: 20px;
}

.apply-btn {
    width: 100%;
    border: none;
    padding: 12px;
    border-radius: 10px;
    background: #F97316;
    color: white;
    font-weight: 600;
}